.container {
  background: var(--gray);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 20px;
  text-align: center;
}

.text {
  font-size: 16px;
  text-align: center;
}

button {
  color: var(--white);
  background: var(--blue);
  padding: 15px 35px;
  border-radius: 15px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 300ms;
}

@media (hover: hover) {
  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.6;
  }
}

@media (hover: none) {
  button:active {
    opacity: 0.8;
  }
}
