.container button {
  height: 50px;
  border: 0;
  padding: 1em 2em;
  border-radius: 1em;
  color: white;
  background: #1a1a1a;
  cursor: pointer;
}

.container button:hover {
  background: #282828;
}

.container button:active {
  background: #3e3e3e;
}
